* {
  margin: 0;
  box-sizing: border-box;
}

button {
  background-color: #EB5C6C;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 24px;
  color: #FFFFFF;
  padding: 11px 48px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
}
button:hover {
  background-color: #C84D5B;
}

.small-button {
  width: 146px;
  padding: 11px 23px;
}

.container.open {
  padding-top: 80px;
}

.icon-minus {
  display: none;
}
.icon-minus.clicked {
  display: block;
}

.icon-plus {
  visibility: hidden;
}
.icon-plus.hide {
  display: none;
}

nav {
  display: flex;
  color: #000;
  top: 26px;
  left: 0;
  width: 100%;
  height: 80px;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 32px 110px 32px;
}
nav .nav-logo {
  width: 200px;
  cursor: pointer;
}
nav ul {
  flex: 1;
  text-align: right;
  position: relative;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}
nav ul li a {
  text-decoration: none;
  color: #000;
}
nav ul li a ion-icon {
  display: none;
}
nav ul li a:hover {
  color: #008948;
  border-bottom: 2px solid #008948;
}

.nav-navigation_menu {
  display: none;
  list-style-type: none;
}
.nav-navigation_menu.clicked {
  display: block;
}
.nav-navigation_sidebar :hover {
  color: #000;
  border-bottom: 2px solid #000;
}
.nav-search {
  position: relative;
  cursor: pointer;
  z-index: 10;
  align-items: center;
}
.nav-search_btn {
  position: relative;
  left: 30px;
  transition: 0.5s ease-in-out;
}
.nav-search_btn.active {
  left: 0;
}
.nav-search_close {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  scale: 0;
}
.nav-search_close.active {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
  scale: 1;
}
.nav-search_sidebar {
  width: 30px;
  top: 14px;
  position: relative;
  display: none;
}
.nav-search_sidebar__close {
  display: none;
}
.nav-search_sidebar__close.active {
  opacity: 1;
  display: block;
  transition: 0.5s;
  scale: 1;
}
.nav-search_box {
  position: absolute;
  right: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 30px;
  align-items: center;
  transition: 0.5s ease-in-out;
  justify-content: center;
  display: none;
  background-color: #EBEBEB;
  padding: 22px;
}
.nav-search_box.active {
  right: 0;
  display: block;
  transition: 0.5s;
  top: 80px;
}
.nav-search_box input {
  width: 100%;
  border: none;
  outline: none;
  height: 40px;
  font-size: 1.25em;
  background: #FFFFFF;
  color: #333;
  border-radius: 24px;
  padding-left: 35px;
}
.nav-bar {
  width: 100%;
  font-family: "Montserrat";
}
.nav-close {
  height: 10px;
}
.nav-top {
  background-color: #EDEDED;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 110px 0;
  height: 26px;
}
.nav-language > a {
  text-decoration: none;
  color: #000;
}
.nav-language > a:last-child {
  color: #008948;
  margin-left: 20px;
}
.nav-stock {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.hero {
  position: relative;
  text-align: center;
  top: 80px;
}
.hero-img {
  width: 100%;
  height: auto;
}
.hero-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-title {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.card-calendar {
  order: 1;
}
.card-calendar_bottom {
  margin-top: 35px;
}
.card-calendar_footer {
  display: flex;
  justify-content: flex-end;
  margin: 54px 40px 23px;
  gap: 7px;
  cursor: pointer;
}
.card-calendar_footer:hover {
  color: #008948;
}
.card-calendar_footer__wrapper > a {
  text-decoration: none;
  color: #000;
}
.card-calendar_date {
  padding: 20px;
  background-color: #D8E8C5;
  border-top-right-radius: 25px;
  padding: 20px;
  width: 73px;
  font-size: 16px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  text-transform: uppercase;
  line-height: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.card-calendar_date > span {
  font-size: 20px;
}
.card-calendar_title {
  margin: 30px 40px 20px;
  text-align: left;
  font-size: 26px;
}
.card-calendar_content {
  margin-bottom: 12px;
}
.card-calendar_content__wrapper {
  margin: 0 15px;
  height: 93px;
  text-align: left;
}
.card-calendar_content__add {
  color: #008948;
  text-decoration: none;
}
.card-calendar_content__add a {
  text-align: left;
}
.card-calendar_content__add > img {
  margin-right: 10px;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 145px;
  top: 76px;
  position: relative;
}
.cards-press {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 340px;
  text-align: center;
  font-family: arial;
  border-radius: 14px;
  margin: 40px auto 60px;
  height: 415px;
}
.cards-press_wrapper {
  padding: 30px 40px 10px;
}
.cards-press_title {
  margin-bottom: 20px;
  text-align: left;
  line-height: 26px;
  font-size: 21px;
}
.cards-press_date {
  display: flex;
  margin-bottom: 7px;
  font-family: "Montserrat";
  gap: 5px;
}
.cards-press_date__label {
  color: #008948;
}
.cards-press_content {
  text-align: left;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.015em;
  align-items: center;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
.cards-press_content:hover {
  opacity: 0.6;
}
.cards-press_footer {
  display: flex;
  justify-content: flex-end;
  margin: 69px 40px 23px;
  cursor: pointer;
}
.cards-press_footer > a {
  display: flex;
  gap: 7px;
  text-decoration: none;
  color: #000;
}
.cards-press_footer > a:hover {
  color: #008948;
}

.mini-cards {
  position: relative;
  text-align: center;
  border-radius: 14px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 150px;
  width: 340px;
  background-image: url("assets/mini-card1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.mini-cards:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.1, 1.1);
}
.mini-cards_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 145px;
  top: 40px;
  position: relative;
}
.mini-cards_content__wrapper > img {
  position: absolute;
  top: 118px;
  right: 12px;
}
.mini-cards_content {
  bottom: 0%;
  position: absolute;
  left: 30%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
}
.mini-cards_content > h3 {
  font-size: 21px;
}
.mini-cards_content > h4 {
  text-align: left;
  font-family: "Montserrat";
  font-weight: normal;
}

.middle {
  position: relative;
  text-align: center;
  top: 80px;
}
.middle-img {
  width: 100%;
  height: auto;
}
.middle-wrap {
  position: absolute;
  top: 50%;
  left: 31%;
  transform: translate(-50%, -50%);
  width: 561px;
  background: #FFFFFF;
  border: transparent;
  border-radius: 3%;
  text-align: left;
  padding: 30px 20px 38px;
}
.middle-title {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
}
.middle-description {
  font-family: "Montserrat";
  font-size: 16px;
  padding-bottom: 20px;
  line-height: 1.5rem;
}

.bottom {
  position: relative;
  text-align: center;
  top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 60px 165px;
}
.bottom-img {
  width: 100%;
  height: auto;
  border-radius: 3%;
}
.bottom-wrap {
  width: 561px;
  text-align: left;
  padding: 30px 20px 8px;
}
.bottom-title {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
}
.bottom-description {
  font-family: "Montserrat";
  font-size: 16px;
  padding-bottom: 20px;
  line-height: 1.5rem;
}

.footer-wrapper {
  top: 80px;
  padding: 45px 145px;
  position: relative;
  color: #FFFFFF;
  background-color: #333333;
}
.footer-top {
  display: flex;
  gap: 60px;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 1.5em;
  color: #FFFFFF;
  background-color: #333333;
}
.footer-items > h3 {
  text-align: left;
  text-transform: uppercase;
  width: 136px;
  height: 50px;
  margin-bottom: 18px;
}
.footer-items > ul {
  padding: 0;
  list-style: none;
  line-height: 1.5em;
  font-size: 14px;
}
.footer-items > ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}
.footer-items > ul a:hover {
  opacity: 0.8;
}
.footer-bottom {
  position: relative;
  top: 80px;
  background-color: #008948;
  text-align: center;
  padding: 20px 0;
}
.footer-bottom_details {
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 1.5em;
  color: #FFFFFF;
  text-transform: uppercase;
}
.footer-bottom_details__contact {
  margin-bottom: 7px;
  font-family: Arial, Helvetica, sans-serif;
}
.footer-a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer-socials {
  color: #FFFFFF;
  font-family: "Montserrat";
  line-height: 1.5em;
}
.footer-socials_wrapper {
  display: flex;
  margin-top: 20px;
  gap: 390px;
  padding: 0 110px;
}
.footer-socials_policies > a {
  color: #FFFFFF;
  text-decoration: none;
}
.footer-socials_policies > a:hover {
  opacity: 0.6;
}
.footer-socials_icons {
  align-self: center;
  cursor: pointer;
}
.footer-socials_icons__facebook {
  margin-right: 14px;
}
.footer-socials_logo {
  cursor: pointer;
  align-self: center;
}

@media (min-width: 1790px) {
  .nav-top {
    padding: 0 340px 0;
  }
  nav {
    padding: 0 340px;
  }
  .cards-wrapper {
    padding: 0 340px;
  }
  .mini-cards_wrapper {
    padding: 0 340px;
  }
  .middle-wrap {
    left: 34%;
  }
  .bottom {
    padding: 60px 340px;
  }
  .bottom-wrap {
    padding-left: 50px;
  }
  .footer-wrapper {
    padding: 45px 340px;
  }
  .footer-bottom {
    padding: 20px 340px;
  }
  .footer-socials_wrapper {
    padding: 0;
    gap: 370px;
  }
}
@media screen and (max-width: 1789px) and (min-width: 1600px) {
  .nav-top {
    padding: 0 215px 0;
  }
  nav {
    padding: 0 215px;
  }
  .cards-wrapper {
    padding: 0 215px;
  }
  .mini-cards_wrapper {
    padding: 0 215px;
  }
  .middle-wrap {
    left: 34%;
  }
  .bottom {
    padding: 60px 215px;
  }
  .bottom-wrap {
    padding-left: 50px;
  }
  .footer-wrapper {
    padding: 45px 215px;
  }
  .footer-bottom {
    padding: 20px 215px;
  }
  .footer-socials_wrapper {
    padding: 0;
    gap: 370px;
  }
}
@media (min-width: 1520px) and (max-width: 1599px) {
  .cards-wrapper {
    padding: 0 200px;
  }
}
@media (min-width: 1201px) and (max-width: 1399px) {
  .nav-top {
    padding: 0 80px 0;
  }
  nav {
    padding: 0 80px;
  }
  .cards-wrapper {
    padding: 0 80px;
  }
  .mini-cards_wrapper {
    padding: 0 80px;
  }
  .middle-wrap {
    left: 30%;
  }
  .bottom {
    padding: 60px 80px;
  }
  .bottom-wrap {
    padding-left: 50px;
  }
  .footer-wrapper {
    padding: 45px 80px;
  }
  .footer-bottom {
    padding: 20px 80px;
  }
  .footer-socials_wrapper {
    padding: 0;
    gap: 325px;
  }
}
@media (max-width: 1200px) {
  .icon-plus {
    visibility: visible;
  }
  .container.open {
    padding-top: 100px;
  }
  nav {
    top: 0;
    padding: 0 40px;
  }
  nav.open .nav-navigation {
    opacity: 1;
    display: flex;
    flex-direction: column;
    left: 0;
    background-color: #EDEDED;
    top: 80px;
    height: 830px;
  }
  nav ul li {
    padding: 20px 0;
    font-size: 20px;
  }
  nav ul li a {
    display: flex;
    justify-content: space-between;
  }
  nav ul li a > ion-icon {
    display: inline-flex;
  }
  .nav-top {
    display: none;
  }
  .nav-navigation {
    position: absolute;
    opacity: 0;
    display: none;
    left: 100%;
    width: 100%;
    text-align: left;
    padding: 34px 16px;
  }
  .nav-navigation_menu {
    display: none;
    list-style-type: none;
  }
  .nav-navigation_menu.clicked {
    display: inline-grid;
  }
  .nav-navigation_menu__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .nav-search {
    display: flex;
  }
  .nav-search_btn.hide {
    visibility: hidden;
  }
  .nav-search_icon {
    display: flex;
  }
  .nav-search_sidebar {
    top: 1px;
    display: block;
    z-index: 10;
  }
  .nav-search_sidebar.hide {
    display: none;
  }
  .nav-search_box {
    height: 91px;
  }
  .nav-search_box.active {
    top: 90px;
  }
  .nav-search_box input {
    height: 46px;
  }
  .cards-wrapper {
    padding: 0 40px;
  }
  .cards-press {
    width: 300px;
  }
  .cards-press_footer {
    margin-top: 6px;
  }
  .mini-cards {
    width: 300px;
  }
  .mini-cards_wrapper {
    padding: 0 40px;
    gap: 20px;
  }
  .middle-wrap {
    left: 28%;
  }
  .bottom {
    padding: 80px 40px;
  }
  .footer-wrapper {
    padding: 45px 60px;
  }
  .footer-top {
    gap: 20px;
  }
  .footer-socials {
    column-gap: 165px;
  }
  .footer-items > h3 {
    font-size: 16px;
  }
  .footer-socials {
    padding: 0;
    justify-content: center;
    gap: 260px;
  }
  .footer-socials_wrapper {
    gap: 215px;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  nav {
    padding: 0 40px;
  }
  .cards-press {
    width: 300px;
  }
  .cards-press_footer {
    margin-top: 6px;
  }
  .mini-cards {
    width: 300px;
  }
  .card-calendar_title {
    margin-top: 27px;
    font-size: 21px;
  }
  .middle-wrap {
    left: 31%;
  }
  .footer-socials_wrapper {
    padding: 0 40px;
    gap: 230px;
  }
}
@media (max-width: 980px) {
  button {
    width: 364px;
  }
  .hero-img {
    height: 202px;
  }
  .hero-title {
    padding-bottom: 20px;
  }
  .cards-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .cards-press {
    margin: 20px auto 30px;
    width: 370px;
  }
  .cards-press_wrapper {
    padding: 30px 20px 10px;
  }
  .cards-press_title {
    font-size: 26px;
  }
  .cards-press_date > h5 {
    font-size: 16px;
  }
  .cards-press_content {
    font-size: 20px;
  }
  .mini-cards {
    margin: 20px auto;
    width: 370px;
  }
  .mini-cards_wrapper {
    display: block;
    padding: 40px 0 0;
  }
  .middle-wrap {
    width: 363px;
    top: 70%;
    left: 26%;
  }
  .middle-img {
    height: 563px;
  }
  .bottom {
    display: inline-flex;
    flex-direction: initial;
    padding: 20px 10px;
    left: 3%;
  }
  .bottom-img {
    height: 260px;
    width: 365px;
  }
  .bottom-wrap {
    width: 365px;
    padding: 20px;
  }
  .footer-top {
    gap: 20px;
  }
  .footer-items > h3 {
    width: 100%;
    height: 100%;
    margin-bottom: 8px;
  }
  .footer-wrapper {
    padding: 40px 20px;
  }
  .footer-top {
    flex-direction: column;
  }
  .footer-bottom {
    text-align: left;
    padding: 30px 20px;
  }
  .footer-socials {
    display: block;
    padding: 20px 0;
  }
  .footer-socials_wrapper {
    display: block;
    padding: 0;
  }
  .footer-socials_icons, .footer-socials_policies, .footer-socials_logo {
    margin-bottom: 17px;
  }
}
@media (max-width: 767px) {
  .middle-wrap {
    left: 52%;
  }
  .bottom {
    flex-direction: column-reverse;
    left: 21%;
  }
}
@media (max-width: 480px) {
  nav {
    padding: 0 20px;
  }
  .middle-wrap {
    left: 50%;
  }
  .bottom {
    left: 10%;
    flex-direction: column-reverse;
  }
}
@media (max-width: 412px) {
  .bottom {
    left: 1%;
  }
}
@media (max-width: 390px) {
  .cards-press, .mini-cards {
    width: 340px;
  }
  .bottom {
    padding: 20px 0;
  }
}
@media (max-width: 375px) {
  button {
    width: 345px;
  }
  .middle-title {
    font-size: 26px;
  }
  .middle-wrap {
    width: 343px;
  }
  .bottom {
    left: 2%;
  }
  .bottom-title {
    font-size: 26px;
  }
  .bottom-wrap, .bottom-img {
    width: 345px;
  }
}
